body {
    
    justify-content: center;
    align-items: center;
 
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    width: 100%; /* Занимает всю ширину */
    margin: 0; /* Убираем отступы */
}
.container {
    
    flex-direction: column;
    align-items: center; /* Центрируем элементы по горизонтали */
    text-align: center; /* Центрируем текст внутри элементов */
    width: 100%;
    max-width: 700px; /* Ограничиваем ширину контейнера */
    margin: 0 auto; /* Центрируем контейнер на странице */
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Два столбца */
    gap: 20px; /* Расстояние между контейнерами */
    width: 100%;
    max-width: 700px; /* Увеличиваем максимальную ширину, чтобы вместить два контейнера */
    margin: 0 auto 20px; /* Центрируем и добавляем отступ снизу */
}

.containerAWG, .containerClash {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 95%; /* Занимает всю ширину */
    max-width: 300px; /* Уменьшаем ширину контейнера */
    margin: 0 auto; /* Центрируем и добавляем отступ снизу */
}

.header {
    display: flex;
    justify-content: center; /* Выравниваем по центру */
    align-items: center;
    margin-bottom: 10px; /* Отступ снизу */
    width: 100%; /* Занимает всю ширину */
    max-width: 400px; /* Ограничиваем ширину, как у контейнера */\
}

.amnezia-icon {
    width: 50px; 
    height: 50px;
    margin-right: 10px;
	margin-top: -10px;
}
.hiddify-icon {
    width: 50px; 
    height: 50px;
    margin-right: 10px;
	margin-top: -10px;
}

.amnezia-text {
    font-size: 20px;
    font-weight: bold;
    color: #333;
	margin-bottom: 5px;
	
}
.karing-text {
    font-size: 20px;
    font-weight: bold;
    color: #333;
	margin-right: 10px;
	margin-bottom: 5px;
}

img {
    max-width: 400px;
}


button {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	transition: background 0.3s ease, transform 0.2s ease;
}
button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} 
.button--loading::after {
    content: "";
    width: 15px;
    height: 15px;
    border: solid rgba(0, 0, 0, 0.1);
    border-top-color: #f15874;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

button.button--loading {
    display: flex;
    justify-content: center;
}

.button--loading .button__text {
    display: none;
}

#generateButton,#generateButton2,#generateButton5,#generateButton6 {
    background: linear-gradient(90deg, #eeac43, #f15874);
}
#generateButton3,#generateButton4,#generateButton7,#generateButton8 {
    background: linear-gradient(90deg, #eeac43, #f15874);margin-bottom: 4px;
}

#telegramButton,#BoostyButton,#githubButton,#DonationAlertsButton,#BoostyNewButton {
    background: linear-gradient(90deg, #2a3797, #0d87d2);
	width: 100%;
    max-width: 400px;
    margin: 10px auto;
}


button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#newButtons {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0.5s ease, visibility 0.5s ease;
}

#newButtons.show {
    visibility: visible;
    opacity: 1;
    height: 120px; /* Фиксированная высота для плавной анимации */
}	



#info {
    margin-bottom: 20px;
    color: red;
	border-radius: 5px;
	box-shadow: 0 0 0 1px red inset;
	padding: 15px;
	margin: 0 auto 20px;
	display: none;
}


#status {
    color: red;
	border-radius: 5px;
	box-shadow: 0 0 0 1px red inset;
	padding: 15px;
	margin: 0 auto 20px;
}

#status:empty {
    display: none;
}

#info:empty {
    display: none;
}


.glow-on-hover {
    width: 400px;
	max-width: 90%;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 5px;
	margin: 10px auto;
}


.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 5px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 5px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


@media (max-width: 730px) {
	       
	#logo {max-width: 90%}   
	#telegramButton,#BoostyButton,#githubButton,#DonationAlertsButton,#BoostyNewButton {
    max-width: 90%;
	width: 400px;
}
	button {
		-webkit-tap-highlight-color: transparent;
		outline: none !important;
	}  

	
	.grid-container {grid-template-columns: 1fr}
	#info {
		display: block;
		max-width: 90%;
	}
	#info1 {padding-bottom: 20px}
    #status {display: none}
	.containerClash {order: 3}
    .containerAWG:nth-of-type(4) {order: 2}
	.containerAWG:nth-of-type(2) {margin-bottom: 60px;}	
}
		
    
